apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "domain": "{{.ZITADEL_DOMAIN}}",
      "port": "{{.ZITADEL_PORT}}",
      "insecure": "{{.ZITADEL_INSECURE}}",
      "token": "{{.ZITADEL_TOKEN}}"
    }
